include            COPYING
include		   AUTHORS INSTALL README NEWS
include		   HACKING TODO
include		   MANIFEST MANIFEST.in

include            version
include		   ChangeLog

include            generate-reference.py generate-tutorial.py run-tests.py benchmark.py

include		   notify/__init__.py.in
exclude		   notify/__init__.py

recursive-include  test      *.py
recursive-include  benchmark *.py
recursive-include  examples  *.py

include            docs/tutorial.txt
include            docs/*.css

include            examples/README
