include            COPYING
include		   AUTHORS INSTALL README
include		   HACKING TODO
include		   MANIFEST MANIFEST.in

include            version
include		   ChangeLog

include            generate-reference.py run-tests.py

include		   notify/__init__.py.in
exclude		   notify/__init__.py

recursive-include  test *.py
